In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2023-01-03 15:19:44.155793

In [6]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Tue Jan  3 15:21:47 2023

In [13]:
import datetime
x = datetime.datetime.now()

for i in range(10000):
    pass

y = datetime.datetime.now()
print(y-x)

0:00:00

In [14]:
import datetime
x = datetime.datetime.now()
name = input("Enter name = ")
y = datetime.datetime.now()
print(y-x)

Enter name = Ram
0:00:06.215254

In [23]:
import datetime

x = datetime.datetime(2020, 5, 17,12,10,59)
y = datetime.datetime(2020, 5, 17,12,10,39)

print(x-y)
print(str(x))

0:00:20
2020-05-17 12:10:59

In [24]:
# Comprehensions: List, Dictionary
a =[i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [25]:
a = [i for i in range(20) if i%2==0]
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
a = [input("Enter name = ") for i in range(5)]

Enter name = Ram
Enter name = Sjyam
Enter name = Hari
Enter name = Sita
Enter name = Gita

In [27]:
print(a)

['Ram', 'Sjyam', 'Hari', 'Sita', 'Gita']

In [28]:
a = sum([int(input("Enter number = ")) for i in range(5)])

Enter number = 234
Enter number = 456
Enter number = 345
Enter number = 456
Enter number = 354

In [29]:
print(a)

1845

In [33]:
a = ['Apple',"ball","Cat","Bus","Air","zebra"]
b = [i for i in a if i[0].isupper()]
b

['Apple', 'Cat', 'Bus', 'Air']

In [34]:
d = {i:i**2 for i in range(1,5)}
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [36]:
d = {i:i**2 for i in range(1,5)}
list(d.values())

[1, 4, 9, 16]

In [37]:
a = ['Apple', 'Cat', 'Bus', 'Air']
d = {i:i.lower() for i in a}
print(d)
list(d.values())

{'Apple': 'apple', 'Cat': 'cat', 'Bus': 'bus', 'Air': 'air'}

['apple', 'cat', 'bus', 'air']

In [ ]:
# Lambda function

In [39]:
x = lambda a:a**2  
print(x(4))

SyntaxError: invalid non-printable character U+00A0 (3445389311.py, line 1)

In [41]:
x = lambda a:a**2
print(x(2))

4

In [45]:
Lists=[1,2,3,4,10,123,22]
div=list(filter(lambda x:(x%3 == 0),Lists))
even =list(filter(lambda x:(x%2 == 0),Lists))

print(div)
print(even)

[3, 123]
[2, 4, 10, 22]

In [46]:
Lists=[1,2,3,4,10,123,22]
y =list(map(lambda x:(x*3),Lists))
y

[3, 6, 9, 12, 30, 369, 66]

In [48]:
a = ['Apple',"ball","Cat","Bus","Air","zebra"]
y =list(map(lambda x:x.lower(),a))
y

['apple', 'ball', 'cat', 'bus', 'air', 'zebra']

In [ ]:
import plotly.graph_objects as go

labels = ['Oxygen','Hydrogen','Carbon_Dioxide','Nitrogen']
values = [4500, 2500, 1053, 500]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()