In [1]:
# file = open('<file_name>','<mode>')
# file.close()

# with open('<file_name>','<mode>') as file:
#     <operations>

In [2]:
# mode
# r -> read
# a -> append
# x -> create
# w -> write

In [5]:
try:
    file = open('new_file.txt','x')
    file.close()
except:
    print("The file is already there!")

The file is already there!

In [6]:
try:
    file = open('new_file.docx','x')
    file.close()
except:
    print("The file is already there!")

In [8]:
try:
    file = open('new_file.txt','r')
    x = file.read()
    print(type(x))
    print(x)
    file.close()
except:
    print("The file is already there!")

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World

In [10]:
x.split('\n')

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World']

In [15]:
x.split('\n')[4]

'5.Hello World'

In [17]:
with open('data.txt','w') as file:
    file.write('Hello World I am Python!')

In [19]:
with open('data.txt','a') as file:
    file.write('Hello World I am Python!')

In [20]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = info +f"{name} {price} {quantity} {total}\n"
    
print(info)

with open('data.txt','w') as file:
    file.write(info)

Enter n = 2
Enter product name = Apple
Enter price = 300
Enter quantity = 2
Enter product name = Banana
Enter price = 200
Enter quantity = 1
Apple 300 2 600
Banana 200 1 200

In [21]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = info +f"{name} {price} {quantity} {total}\n"
    
print(info)

with open('data.txt','a') as file:
    file.write(info)

Enter n = 2
Enter product name = Coke
Enter price = 100
Enter quantity = 2
Enter product name = Momo
Enter price = 150
Enter quantity = 3
Coke 100 2 200
Momo 150 3 450

In [23]:
with open('data.txt','r') as file:
    x = file.read()
    print(x)

Apple 300 2 600
Banana 200 1 200
Coke 100 2 200
Momo 150 3 450

In [26]:
data = x.split('\n')[0:-1]
data

['Apple 300 2 600', 'Banana 200 1 200', 'Coke 100 2 200', 'Momo 150 3 450']

In [30]:
new_data = []
for i in data:
    split_data = i.split()
    new_data.append(split_data)
    
new_data

[['Apple', '300', '2', '600'],
 ['Banana', '200', '1', '200'],
 ['Coke', '100', '2', '200'],
 ['Momo', '150', '3', '450']]

In [37]:
x = 'Apple-300-2-600'
x.split('-')

['Apple', '300', '2', '600']

In [35]:
all_total = 0
for cal in new_data:
    all_total = all_total + int(cal[3])
    
all_total

1450