In [1]:
# Python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# # List
# -Multiple and duplicate data
# -Indexing
# -Ordered
# -Mutable

In [5]:
a = [1,2,3,4,5,6]
b = ['Apple','Ball','Cat','dog','Apple']
c = list()

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [6]:
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
['Apple', 'Ball', 'Cat', 'dog', 'Apple']
[]

In [8]:
b = ['Apple','Ball','Cat','dog','Apple']
print(b[0])
print(b[1])

Apple
Ball

In [9]:
a = ['Apple','Ball','Cat','dog','Apple']
b = a[0:3]
b

['Apple', 'Ball', 'Cat']

In [10]:
a = ['Apple','Ball','Cat','dog','Apple']
a[0:6:2]

['Apple', 'Cat', 'Apple']

In [11]:
# + *
a = ['Apple','Ball','Cat','dog','Apple']
b = [1,2,3]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'dog', 'Apple', 1, 2, 3]

In [12]:
a = ['Apple','Ball','Cat','dog','Apple']
print(a*2)

['Apple', 'Ball', 'Cat', 'dog', 'Apple', 'Apple', 'Ball', 'Cat', 'dog', 'Apple']

In [13]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)

Enter n = 5
Enter x = 243
Enter x = 456
Enter x = 756
Enter x = 24
Enter x = 57
[243, 456, 756, 24, 57]

In [18]:
a = [243, 456, 756, 24, 57]
print("The max value in a",max(a))
print("The max value in a",min(a))
print("The sum of the list is",sum(a))
print("The avg of the no in the list is",sum(a)/len(a))
a.sort()
print(a)
a.reverse()
print(a)

The max value in a 756
The max value in a 24
The sum of the list is 1536
The avg of the no in the list is 307.2
[24, 57, 243, 456, 756]
[756, 456, 243, 57, 24]

In [19]:
# input data
# append() insert() extend()

# delete data
# del remove() pop()

In [21]:
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [22]:
a = ['Apple','Ball','Cat','dog','Apple']
a.append("Fish")
a

['Apple', 'Ball', 'Cat', 'dog', 'Apple', 'Fish']

In [24]:
a = ['Apple','Ball','Cat','dog','Apple']
a.insert(2,"cat")
a

['Apple', 'Ball', 'cat', 'Cat', 'dog', 'Apple']

In [27]:
a = ['Apple','Ball','Cat','dog','Apple']
a.extend([1,2,3,4,5,6,7,8,9])
a

['Apple', 'Ball', 'Cat', 'dog', 'Apple', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# Reading
a = ['Apple','Ball','Cat','dog','Apple']
for i in a:
    print(i)

Apple
Ball
Cat
dog
Apple

In [ ]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

In [30]:
#Update
a = ['Apple','Ball','Cat','dog','Apple']
a[0] = 'apple'
a

['apple', 'Ball', 'Cat', 'dog', 'Apple']

In [31]:
a = ['Apple','Ball','Cat','dog','Apple']
a[0:2] = ['apple','ball']
a

['apple', 'ball', 'Cat', 'dog', 'Apple']

In [32]:
# del remove() pop()
a = ['Apple','Ball','Cat','dog','Apple']
del a[0]
print(a)

['Ball', 'Cat', 'dog', 'Apple']

In [33]:
a = ['Apple','Ball','Cat','dog','Apple']
del a[0:3]
a

['dog', 'Apple']

In [34]:
a = ['Apple','Ball','Cat','dog','Apple']
a.remove('Ball')
a

['Apple', 'Cat', 'dog', 'Apple']

In [37]:
a = ['Apple','Ball','Cat','dog','Apple']
c = a.count("Apple")
print(c)
for i in range(c):
    a.remove('Apple')
print(a)

2
['Ball', 'Cat', 'dog']

In [39]:
a = ['Apple','Ball','Cat','dog','Apple']
b = a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'dog', 'Apple']
Apple

In [40]:
a = ['Apple','Ball','Cat','dog','Apple']
a.index('Ball')

1

In [43]:
a = ['Apple','Ball','Cat','dog','Apple']
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        print(i)

0
4

In [44]:
a = ['Apple','Ball','Cat','dog','Apple']
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i+1

Apple
Ball
Cat
dog
Apple

In [46]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [50]:
print(a)
print(a[2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[7, 8, 9]

In [53]:
a[0][1]

2

In [2]:
# list inside list
# a = [["ram",23,"Kathmandu"],
#     ['Shyam',45,"Bhaktapur",
#     ["Hari",34,"Lalitpur"]]

In [3]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data.append([name,age,add])
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter address = Kathmandu
Enter name = Shyam
Enter age = 23
Enter address = Bhaktapur
[['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]

In [7]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
print(a[0])

['Ram', 45, 'Kathmandu']

In [8]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
print(a[0][0])

Ram

In [10]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
a[0] = ['Rama', 35, 'Patan']
a

[['Rama', 35, 'Patan'], ['Shyam', 23, 'Bhaktapur']]

In [12]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
a[0][0] = 'Rama'
a

[['Rama', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]

In [15]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
a.insert(1,['Hari',23,'Jhapa',9866765543])
a

[['Ram', 45, 'Kathmandu'],
 ['Shyam', 23, 'Bhaktapur'],
 ['Hari', 23, 'Jhapa', 9866765543]]

In [19]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
a[0].insert(2,9808778765)
a

[['Ram', 45, 9808778765, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]

In [23]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
b = [[1,2,3]]
a.extend(b)
a

[['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], [1, 2, 3]]

In [24]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
del a[0]
a

[['Shyam', 23, 'Bhaktapur']]

In [26]:
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
x = a.pop(0)
print(a)
print(x)

[['Shyam', 23, 'Bhaktapur']]
['Ram', 45, 'Kathmandu']

In [29]:
a = ["Ram","Shyam","Hari","Ram","Shyam"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
2

In [31]:
# search in list inside list
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Shyam
['Shyam', 23, 'Bhaktapur']

In [32]:
# search in list inside list
a = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur']]
name = input("Enter name = ").lower()
for i in a:
    if name in i[0].lower():
        print(i)

Enter name = r
['Ram', 45, 'Kathmandu']

In [38]:
# search in list inside list
c = 0
a = [['Ram', 45, 'Kathmandu'], ['Ram', 23, 'Bhaktapur']]
name = input("Enter name = ").lower()
for i in a:
    if name == i[0].lower():
        print(i)
        c = c+1
if c==0:
    print("No result found!")
else:
    print(c,"Records found!")

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 23, 'Bhaktapur']
2 Records found!

In [ ]:
# WAP to create a blling system using list inside list and do CRUD
# WAP to create a matrix by taking row and column taking as input
# WAP to detect prime and composite using for else or while else

In [1]:
a = {"apple":200,"banana":100,"pears":40}

name = input("Enter name = ").lower()
quantity = int(input("Enter quantity = "))
price = a[name]
total = price*quantity
total

Enter name = Apple

200

In [ ]:
[['Apple',3,100,300],
['Banana',2,100,200]]