In [1]:
# Set
# -No indexing
# -Unordered
# -Multiple but no duplicate data
# -Mutable

In [3]:
s = {1,2,3,4,5,6}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [5]:
s = {1}
type(s)

set

In [8]:
s = {'Apple',"Ball","Cat","Dog"}
print(s)

{'Ball', 'Cat', 'Apple', 'Dog'}

In [9]:
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [10]:
s = {'Apple',"Ball","Cat","Dog"}
print(s[0])

TypeError: 'set' object is not subscriptable

In [12]:
a = {1,2,3,4,5,6,2,3,4,5,6,9}
print(a)

{1, 2, 3, 4, 5, 6, 9}

In [13]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Ball', 'Cat', 'Apple'}

In [14]:
a = {'Ball', 'Cat', 'Apple'}
a.remove('Ball')
a

{'Apple', 'Cat'}

In [16]:
a = [1,2,3,4,5,2,3,4,5,6,7,2,3,4]
list(set(a))

[1, 2, 3, 4, 5, 6, 7]

In [21]:
apple = {"Ram","Shyam","John","Jobs","Smith","Kate"}
ms = {"Shyam","Smith","Jony","Rakesh","Ramesh"}

print(apple.intersection(ms))
print(len(apple.intersection(ms)))

{'Shyam', 'Smith'}
2

In [20]:
print(apple.union(ms))
print(len(apple.union(ms)))

{'Rakesh', 'Jobs', 'Ramesh', 'Jony', 'John', 'Smith', 'Shyam', 'Ram', 'Kate'}
9

In [22]:
apple - ms

{'Jobs', 'John', 'Kate', 'Ram'}

In [23]:
ms - apple

{'Jony', 'Rakesh', 'Ramesh'}

In [24]:
apple = {"Ram","Shyam","John","Jobs","Smith","Kate"}
ms = {"Shyam","Smith","Jony","Rakesh","Ramesh"}
ibm = {"Shyam","Hari","Nabin","kate"}

apple.intersection(ms,ibm)

{'Shyam'}

In [25]:
apple.union(ms,ibm)

{'Hari',
 'Jobs',
 'John',
 'Jony',
 'Kate',
 'Nabin',
 'Rakesh',
 'Ram',
 'Ramesh',
 'Shyam',
 'Smith',
 'kate'}

In [27]:
ibm.intersection(ms) - apple

set()

In [28]:
U = {'Rakesh', 'Jobs', 'Ramesh', 'Jony', 'John', 'Smith', 'Shyam', 'Ram', 'Kate',"xyz","abc"}

apple = {"Ram","Shyam","John","Jobs","Smith","Kate"}
ms = {"Shyam","Smith","Jony","Rakesh","Ramesh"}
U - apple.union(ms)

{'abc', 'xyz'}

In [31]:
job = {"Python","HTML","CSS","Data Science"}
cv = {"Python","CSS","Java","PHP"}
lj = len(job)
li = len(job.intersection(cv))
per = li/lj*100
print(per)

50.0

In [32]:
a = {[1,2,3],{4,5,6}} #-> list is mutable
a

TypeError: unhashable type: 'list'

In [33]:
a = {(1,2,3),(4,5,6)} #-> list is mutable
a

{(1, 2, 3), (4, 5, 6)}

In [34]:
a = {{1,2,3},{4,5,6}} #-> list is mutable
a

TypeError: unhashable type: 'set'

In [ ]:
issubset()
issuperset()
isdesjointset()