String (imutable data type)

In [1]:
# a = 'Hello World'
# b = "Hello World"
# c = '''Hello World'''

In [2]:
a = "hello"
type(a)

str

In [3]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [10]:
a = "Hello World"
print(a[1])
print(a[0:5])
print(a[0:10:2])

e
Hello
HloWr

In [13]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i],end = "")

Hello World

In [1]:
i = 0
a = "Hello World"
l = len(a)
while i<l:
    print(a[i])
    i = i+1

H
e
l
l
o

W
o
r
l
d

In [4]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
# info = "Hello World I am "+name + " I am from" + str(add) + " I am "+str(age)
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 23
Enter add = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 23

In [5]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = info +f"{name} {price} {quantity} {total}\n"
    
print(info)

Enter n = 2
Enter product name = Apple
Enter price = 200
Enter quantity = 2
Enter product name = Banana
Enter price = 40
Enter quantity = 3
Apple 200 2 400
Banana 40 3 120

In [14]:
a = "Ram Shyam Hari Sita Gita Sita "
name = input("Enter name =")
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name =Ram
Yes
1

In [12]:
a = "Ram Shyam Hari Sita Gita Sita "
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA GITA SITA
ram shyam hari sita gita sita

In [15]:
a = "Ram Shyam Hari Sita Gita Sita ".lower()
name = input("Enter name =").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name =ram
Yes
1

In [19]:
#replace()
a = "Ram Shyam Hari Sita Gita Sita Ram"
a = a.replace("Ram","Krishna")
print(a)

Krishna Shyam Hari Sita Gita Sita Krishna